$heigth-menu: 100px;
$text-menu-color: #fff;
$text-menu-color-hover: #3498db;
$menu-color: #34495e;

*{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
  background-color: $menu-color;
  height: $heigth-menu;
  color: $text-menu-color;
  text-transform: uppercase;
  padding: 0 20px;
  .logo{
    float: left;
    line-height: $heigth-menu;;
  }
  ul.menu, label.show.menu-btn{
    float: right;
    line-height: $heigth-menu;
    a{
      padding: 0 10px;
      text-decoration: none;
      color: $text-menu-color;
      transition: .4s;
      &:hover{
        color: $text-menu-color-hover
      }
      @media(max-width: 900px){
        display: block;        
        padding: 20px;
      }
    }
  }
  ul.menu {
    display: block;
    @media(max-width: 900px){
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #333;
      right: -100%;
      top:0;
      padding: 80px 0;
      text-align: center;
      line-height: normal;
      transition: .7s;
    }
  }
  label.menu-btn, label.menu-btn{
    display: none;
    transition: .4s;
    &:hover{
      color: $text-menu-color-hover
    }
    @media(max-width: 900px){
      display: block;
      &.hide{
        position: absolute;
        top: 40px;
        right: 40px;
      }
    }
  }
  #chk{
    visibility: hidden;
    &:checked ~ ul.menu{
      right: 0;
    }
  }
}

section{
  margin: 15px auto;
  padding: 15px;
  max-width: 900px;
  text-align: justify;
  P {
    margin: 10px 0px;
  }
}